

$darckblue: hsl(217, 28%, 15%);
$White: hsl(0, 0%, 100%);
$baseColor: hsl(216, 53%, 9%);
$secondColor: hsl(217, 28%, 15%);
$trheeColor: hsl(219, 30%, 18%);

.img-features {
 height: 75.25px;
}

.card-profile {
 width: 30vw;
}
.img-profile {
  width: 30px;
  height: auto;
}


*{
    background-color: $darckblue;
    
}
p{
    color: $White;
    font-size: 14px;
}
p.letra-grande{
    padding-top: 30px;
    font-size: 35px;
    
    font-weight: 400,700;
}



.bgcolor {
  background-color: $baseColor;
}

.secondcolor {
  background-color: $secondColor;
}
.trheecolor {
  background-color: $trheeColor;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: right;
}

.form-description {
  background-color: #202a3c;
  padding: 20px 0px 0px;
  min-height: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
}


.form-data {
  background-color: #202a3c;
  padding: 20px;
  min-height: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);

  div {
      padding: 10px 0px;
  }

  button {
      width: 100%;
  }
}

.button-color {
  background-color: #4FC4D5;
}

.logo {
  padding: 60px 80px;
}

.info {
  padding: 10px 80px;
}

.phonepad{
    padding: 0px 20px;

}

.aboutpad{
    padding: 0px 8px 0px 60px;

}

.contactUs{
    padding: 0px;

}

.socialicon{
    padding: 0px;
}

.footer{
a:link,a:visited{
    color: white; 

}
}

.iconsocialnetworks{
    height: 30px;
    width:30px ;

}


@media (max-width: 768px) {

    .phonepad{
        padding: 0px 15px 25px;
       
    }

    .aboutpad{
        padding: 0px 15px 10px;
  
    
    }

    .info {
        padding: 0px 15px 15px;
      }
      
      .contactUs{
        padding: 0px 15px 15px;
    
    
    }

    .socialicon{
        padding: 0px;
       margin: 0px 0px 0px 80px;
       
    }
    .iconsocialnetworks{
        height: 18px;
        width:13px ;
       
       }
  
}

.text-color {
  color: hsl(0, 0%, 100%);
  font-family: open sans;
  font-size: 14px;
}

.list {
  list-style: none;
}




